<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
            android:name="android.permission.READ_EXTERNAL_STORAGE"
            android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />

    <uses-feature
            android:name="android.hardware.camera"
            android:required="true" />
    <uses-feature
            android:name="android.hardware.camera.autofocus"
            android:required="false" />

    <application
            android:name=".MyCameraApplication"
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:largeHeap="true"
            android:theme="@style/Theme.CameraMega">
        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
                android:launchMode="singleTask"
                android:theme="@style/Theme.CameraMega.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_CAMERA" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-zip-compressed" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/cube" />
                <data android:mimeType="application/x-cube" />
                <data android:mimeType="application/vnd.adobe.cube" />
                <data android:mimeType="application/vnd.iridas.cube" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-zip-compressed" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/cube" />
                <data android:mimeType="application/x-cube" />
                <data android:mimeType="application/vnd.adobe.cube" />
                <data android:mimeType="application/vnd.iridas.cube" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" android:host="*" android:pathPattern=".*\\.cube" />
                <data android:scheme="content" android:host="*" android:pathPattern=".*\\.CUBE" />
                <data android:scheme="file" android:host="*" android:pathPattern=".*\\.cube" />
                <data android:scheme="file" android:host="*" android:pathPattern=".*\\.CUBE" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="*/*" />
                <data android:scheme="content" android:host="*" android:pathPattern=".*\\.cube" />
                <data android:scheme="content" android:host="*" android:pathPattern=".*\\.CUBE" />
                <data android:scheme="file" android:host="*" android:pathPattern=".*\\.cube" />
                <data android:scheme="file" android:host="*" android:pathPattern=".*\\.CUBE" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.media.action.VIDEO_CAPTURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA_SECURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.android.camera.action.REVIEW" />
                <action android:name="android.provider.action.REVIEW" />
                <action android:name="android.provider.action.REVIEW_SECURE" />
                <action android:name="com.google.android.apps.photos.action.SECURE_REVIEW" />
                <action android:name="com.google.android.apps.photos.mars.api.ACTION_REVIEW" />
                <action android:name="com.google.android.apps.photos.mars.api.ACTION_REVIEW_SECURE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                        android:scheme="content"
                        android:host="com.google.android.libraries.photos.api.mars"
                        android:pathPrefix="/file" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.android.camera.action.REVIEW" />
                <action android:name="android.provider.action.REVIEW" />
                <action android:name="android.provider.action.REVIEW_SECURE" />
                <action android:name="com.google.android.apps.photos.action.SECURE_REVIEW" />
                <action android:name="com.google.android.apps.photos.mars.api.ACTION_REVIEW" />
                <action android:name="com.google.android.apps.photos.mars.api.ACTION_REVIEW_SECURE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.android.camera.action.REVIEW" />
                <action android:name="android.provider.action.REVIEW" />
                <action android:name="android.provider.action.REVIEW_SECURE" />
                <action android:name="com.google.android.apps.photos.action.SECURE_REVIEW" />
                <action android:name="com.google.android.apps.photos.mars.api.ACTION_REVIEW" />
                <action android:name="com.google.android.apps.photos.mars.api.ACTION_REVIEW_SECURE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:mimeType="image/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity
                android:name=".mgc.MgcFilterSelectionActivity"
                android:excludeFromRecents="true"
                android:exported="true"
                android:finishOnTaskLaunch="true"
                android:label="@string/filters_panel"
                android:launchMode="singleTop"
                android:theme="@style/Theme.CameraMega.Transparent">
            <intent-filter>
                <action android:name="com.mega.filter.camera.action.SELECT_MGC_LOOK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
        </provider>

        <provider
                android:name=".mgc.PhotonLookProvider"
                android:authorities="${applicationId}.mgc.look"
                android:exported="true" />

        <provider
                android:name=".mgc.PhotonRawProvider"
                android:authorities="${applicationId}.mgc.raw"
                android:exported="true" />

        <activity
                android:name=".phantom.PhantomShortcutActivity"
                android:exported="true"
                android:taskAffinity="${applicationId}.phantom"
                android:label="@string/ghost_mode"
                android:theme="@android:style/Theme.NoDisplay" />

        <receiver
                android:name=".phantom.PhantomWidgetProvider"
                android:exported="true"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/phantom_widget_info" />
        </receiver>
    </application>

</manifest>
