<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>
        <service
                android:name="com.mega.superx.filter.camera.phantom.PhantomTileService"
                android:label="@string/ghost_mode"
                android:icon="@drawable/ghost_solid"
                android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
                android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <activity
            android:name=".screencapture.ScreenCapturePipActivity"
            android:exported="false"
            android:supportsPictureInPicture="true"
            android:resizeableActivity="true"
            android:excludeFromRecents="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:theme="@style/Theme.CameraMega" />
        <activity
            android:name=".screencapture.ScreenCapturePermissionActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:taskAffinity=":screencapture"
            android:theme="@style/Theme.CameraMega.Transparent" />

        <activity
            android:name=".send.ApplyLutActivity"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:exported="true"
            android:label="@string/apply_lut_title"
            android:launchMode="singleTask"
            android:taskAffinity=":lut"
            android:theme="@style/Theme.CameraMega.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <service
            android:name=".screencapture.ScreenCaptureForegroundService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />
    </application>
</manifest>
